<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]= "['welcome']"> Welcome</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]= "['contact','1',{title:'abc'}]" [queryParams]="{id: 1, id1:5}"> Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]= "['template']">Template</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]= "['reactive']">New Hero</a>
    </li>
  </ul>

<router-outlet>
    
</router-outlet>
